<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Usuário</ion-list-header>
          <ion-note>kevenx97ferreira@gmail.com</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let option of menuOptions; let i = index">
            <ion-item routerDirection="root" [routerLink]="[option.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="option.icon" [md]="option.icon"></ion-icon>
              <ion-label>{{ option.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
