<div class="container">
  <div class="info">
    <ion-avatar>
      <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <div>
      <ion-label>Keven Silva</ion-label>
      <ion-label class="status">Nível Roxo</ion-label>
    </div>
  </div>
  <div class="options">
    <ion-button size="small" fill="clear">
      <div class="icon-content">
        <ion-icon name="accessibility"></ion-icon>
      </div>
      Meu corpo
    </ion-button>
    <ion-button size="small" fill="clear">
      <div class="icon-content">
        <ion-icon name="trophy"></ion-icon>
      </div>
      Objetivos e conquistas
    </ion-button>
  </div>
</div>
